<body>
    <header class="header">
           <div class="container logo-nav">
             <figure class="logo">
               <figcaption class="nombre-logo notranslate">Running Artist</figcaption>
           </figure>
               <!--Navegar-->
               <nav class="navbar">
                 <ul>
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/business/artists">Artists</a></li>
                 </ul>
               </nav>
         </div>
       </header>
       <div class="secciona">
       <mat-card>
        <mat-card-title align="start">Artist Count</mat-card-title>
        <mat-card-subtitle align="start">{{this.valor()}}</mat-card-subtitle>
      </mat-card>

       </div>

  </body>

  
